.modal-container {
  width: fit-content;
  background-color: white;
  box-shadow: rgb(0 0 0 / 35%) 0px 5px 15px;
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 80px;
  right: 6px;
  z-index: 3;
  text-align: left;
  margin-right: 40px;
}
.modal-body-part {
  position: relative;
  flex: 1 1 auto;
  /* padding: 0.6rem 1.4rem; */
}
.modal-body-item {
  display: block;
  padding: 6px 10px;
  font-size: 18px;
  border-bottom: 1px solid #e9e9e9;
  padding: 0.6rem 1.4rem;
  cursor: pointer;
  text-decoration: none;
  color: black;
}
.modal-body-item:hover {
  background: #f0eded;
}
.modal-body-item > span {
  margin-left: 8px;
}
.modal-body-item:last-child {
  color: red;
  cursor: pointer;
}
